spring:
  application:
    name: config-server

  profiles:
    active: git

  cloud:
    config:
      server:
        native:
          search-locations: file:///D:/pintech/sparta/2th_infra/msa_infra/project-configs
        git:
          uri: https://github.com/junhyeong9812/project-configs
          default-label: main
          search-paths:
            - configs/common
            - configs/{application}/{profile}
            - configs/{application}
          basedir: configs
          clone-on-start: true

eureka:
  instance:
    prefer-ip-address: false
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:3150/eureka/}

server:
  port: 3100

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics, refresh
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    refresh:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: config-server
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans" # Zipkin 수집 서버의 엔드포인트 URL을 입력합니다.
  tracing:
    sampling:
      probability: 1.0